{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card shadow p-4" style="min-width: 300px;">
    <h3 class="mb-3">Login:</h3>

    {% if mensagem %}
      <div class="alert alert-danger">{{ mensagem }}</div>
    {% endif %}

    <form method="post">
      <div class="mb-3">
        <input type="text" name="usuario" class="form-control" placeholder="Usuário ou e-mail">
      </div>

      <div class="mb-3">
        <input type="password" name="senha" class="form-control" placeholder="Informe a sua senha">
      </div>

      <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </form>
  </div>
</div>
{% endblock %}
